.gradle/
.idea/
*.iml
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
**/build/
**/.DS_Store
**/secrets.json
**/secrets.properties
**/*.keystore
**/*.jks
**/*.apk
**/*.aab
**/out/
**/.kotlin/
**/.cache/
**/generated/
**/node_modules/
**/.env
